body {
  margin: 0;
  width: 100%;
  backdrop-filter: 10;
  background-image: url('../public/sky-34536.png') !important;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


