form {
    border-radius: 14px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.search-form {
    margin-right: 10px;
}

.submit-button {
    padding: 7px;
    margin-left: 10px;
}