.WeatherInfo li {
    list-style: none;
}

.WeatherInfo ul {
    margin-left: 10px;
    padding-left: 0;
}

.WeatherInfo h1 {
    text-transform: capitalize;
}

.units {
    font-size: 12px;
    position: relative;
    top: -28px;
}